language: node_js
node_js:
  - "8"

cache:
  directories:
  - node_modules
  - doc/node_modules

script:
- npm run test
- cd doc
- npm i
- npm run build
- npm test
- cd ..

deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: './doc/build/'
    target_branch: master
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    on:
      branch: master
